<div class='header-wrapper'>
	<div class='header'></div>
	<% if user_signed_in? == false %>
		<div class='login'>
			<%= form_for(:user, :url => session_path(:user)) do |f| %>
  			username: <%= f.text_field :login %>
  			password: <%= f.password_field :password %>
  			<!--<%= f.check_box :remember_me %>
  			<%= f.label :remember_me %>-->
  			<%= f.submit 'Sign in' %>
  			<!--<%= link_to "Forgot your password?", new_password_path(:user) %>-->
			<% end %>
		</div>
  <% else %>
    <div class='login'>
      Signed in as <%= current_user.username %>
    </div>
	<% end %>
	<div class='navigation-bar'>
		<ul>
				<li class="<%= 'active' if @title == 'Home' %>"><%= link_to('Home', home_index_path) %></li>
				<li class="<%= 'active' if @title == 'Champions' %>"><%= link_to('Champions', champions_path) %></li>
				<li class="<%= 'active' if @title == 'The Rules' %>"><%= link_to('The Rules', home_rules_path) %></li>
				<% if user_signed_in? == false %>
					<li class="<%= 'active' if @title == 'Registration' %>"><%= link_to('Register', new_user_registration_path) %></li>
				<% else %>
					<li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
				<% end %>
		</ul>
	</div>
</div>
